apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: node-nodevfile-nodocker-rhtap-three-component-scenarios-f8rl
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-pxwr-tenant/mc-three-scenarios/node-nodevfile-nodocker-rhtap-three-component-scenarios-f8rl@sha256:06afd456af71b7196384850c9909cfba2a62de4d60006f5058f773fd6bcebf64
        name: my-nodejs
        resources: {}
status: {}
