apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-docker-python-rhtap-three-component-scenarios-5bmr
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-pxwr-tenant/mc-three-scenarios/devfile-docker-python-rhtap-three-component-scenarios-5bmr@sha256:c4fe48a21898629b3c004f5ddf54f7d62c51f6ea2d2a407382606aa20ba27db9
        name: my-python
        resources: {}
status: {}
